.excontainer {
    position: relative;
    width: 100%;
}

.eximage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.excontainer:hover .image {
  opacity: 0.3;
}

.excontainer:hover .middle {
  opacity: 1;
}

.extext {
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  padding: 16px 32px;
}

.thirdrow {
    padding-top: 0px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
}